<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <queries>
        <package android:name="com.whatsapp" />
        <package android:name="com.samsung.android.messaging" />
        <package android:name="com.google.android.apps.messaging" />
        <package android:name="com.android.mms" />
        <package android:name="com.google.android.gm" />
        <package android:name="com.instagram.android" />
        <package android:name="com.facebook.katana" />
        <package android:name="com.facebook.orca" />
        <package android:name="org.telegram.messenger" />
        <package android:name="com.nu.production" />
        <package android:name="com.alibaba.aliexpresshd" />
        <package android:name="com.shopee.br" />
        <package android:name="com.mercadolibre" />
        <package android:name="com.amazon.mShop.android.shopping" />
        <package android:name="br.com.brainweb.ifood" />
        <package android:name="com.luizalabs.mlapp" />
    </queries>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity
            android:name=".activity.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service
            android:name=".notification.DroidNotification"
            android:exported="true"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>


    </application>

</manifest>
